@define-color background #000000;
@define-color background-light #1c1c1c;
@define-color text #ffffff;
@define-color text-muted #bbbbbb;

* {
    font-family: 'CaskaydiaCove Nerd Font', monospace;
    font-size: 16px;
}

/* Window */
window {
    margin: 0px;
    padding: 10px;
    border: 2px solid @background-light;
    border-radius: 8px;
    background-color: @background;
}

/* Inner Box */
#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @background;
}

/* Outer Box */
#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @background;
}

/* Scroll */
#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
    background-color: @background;
}

/* Input */
#input {
    margin: 5px 20px;
    padding: 10px;
    border: none;
    border: 2px solid @background-light;
    border-radius: 0.1em;
    color: @text;
    background-color: @background;
}

#input:focus {
    box-shadow: none;
}

/* Text */
#text {
    margin: 5px;
    border: none;
    color: @text;
}

#entry {
    background-color: @background;
}

#entry arrow {
    border: none;
    color: @background-light;
}

/* Selected Entry */
#entry:selected {
    border: 0.11em solid @background-light;
}

#entry:selected #text {
    color: @text-muted;
}
